
<ion-header>
  <ion-navbar hideBackButton="true"  no-border-bottom color="flat-wet-asphalt">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
     Games
    </ion-title>
    <ion-buttons right>
        <button ion-button icon-only>
            <ion-icon name="md-more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top color="flat-midnight-blue">
    <ion-segment [(ngModel)]="activeMenu" color="white">
      <ion-segment-button value="Basic">
        Basic Stacks
      </ion-segment-button>
      <ion-segment-button value="Leader">
        Leader Stacks
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--*********** List view ***********-->
  <div>
    <ion-card tappable class="card-list fadein-down" *ngFor="let game of games | async" (click)="openList(game.id)">
      <div class="card-list-bg" [ngStyle]="{'background-image': 'url(' + game.data.img + ')'}">
        <h2 class="card-list-title"> {{ game.data.name }}</h2>
      </div>
    </ion-card>
  </div>
</ion-content>