<ion-header no-border>
  <ion-navbar transparent color="dark-Gray">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="dark-Gray"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="{'background-color': '#eeeeee'}">
  <div class="login-container">
    <img class="logo"  src="./assets/gimp.png" /><br>
    <img class="title" src="./assets/main.png" />
    <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input tappable formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty"></ion-input>
      </ion-item>

      <ion-item class="error-message">
        <p *ngIf="!resetPasswordForm.controls.email.valid  && resetPasswordForm.controls.email.dirty">Please enter a valid email.</p>
      </ion-item>

      <button ion-button block type="submit" mode="ios" color="blue2">
        Reset your Password
      </button>

    </form>

  </div>
</ion-content>