page-detail1 {
  .content{
      background-color: #eee;
  }

  //************ Fading header  **********//
  .show-background{
      border-style: none;
      background : color($colors, green)
  }
  .transition{
      transition: background-size .3s ease-in;
  }
  .toolbar-title {
      color:#FFFFFF;
  }
}
