<!--
  Generated template for the Create1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="flat-wet-asphalt">
      <ion-title>View Stack</ion-title>
    </ion-navbar>
  
</ion-header>


<ion-content padding>
  <ion-card *ngIf="stack">
      <ion-card-header>
        Description
      </ion-card-header>
      <hr>
      <ion-card-content>
        <div>
          {{ stack.description }}
        </div>
      </ion-card-content>
  </ion-card>
  <ion-card *ngIf="stack">
    <ion-card-header>
      Settings 
    </ion-card-header>
    <hr>
    <ion-item>
      <ion-label fixed>Type</ion-label>
      <ion-label>{{ stack.type }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>Comp</ion-label>
      <ion-label>{{ stack.comp }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>Tanks</ion-label>
      <ion-label>{{ stack.tank_heroes }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>DPSs</ion-label>
      <ion-label>{{ stack.dps_heroes }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>Supports</ion-label>
      <ion-label>{{ stack.support_heroes }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>Skill Range</ion-label>
      <ion-label>{{stack.skill_range.lower}} - {{stack.skill_range.upper}}</ion-label>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="stack">
      <ion-card-header>
        Role Select
      </ion-card-header>
      <hr>
      <ion-item no-lines *ngFor="let hero of heroes"><!-- (click)="roleSelected(hero)"> -->
        <ion-label>{{ hero }}</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
  </ion-card>
</ion-content>
